In [1]:
import pandas as pd
import talib

In [12]:
df = pd.read_parquet("data/alphavantage/stock_prices/1h/NVDA.parquet")

In [15]:
df["EMA_7"] = talib.EMA(df["close"], timeperiod=7)
df["EMA_21"] = talib.EMA(df["close"], timeperiod=21)
df["RSI_14"] = talib.RSI(df["close"], timeperiod=14)
df["RSI_21"] = talib.RSI(df["close"], timeperiod=21)
df.head()

,open,high,low,close,volume,EMA_7,EMA_21,RSI_14,RSI_21
timestamp,,,,,,,,,
2020-01-02 04:00:00,5.9003,5.9481,5.9003,5.9389,60000,NaN,NaN,NaN,NaN
2020-01-02 05:00:00,5.9389,5.9486,5.9372,5.9449,29920,NaN,NaN,NaN,NaN
2020-01-02 06:00:00,5.9486,5.9501,5.9436,5.9436,37800,NaN,NaN,NaN,NaN
2020-01-02 07:00:00,5.9329,5.9481,5.9242,5.9464,614480,NaN,NaN,NaN,NaN
2020-01-02 08:00:00,5.9456,5.9625,5.9247,5.9556,1660520,NaN,NaN,NaN,NaN

In [16]:
df[50:]

,open,high,low,close,volume,EMA_7,EMA_21,RSI_14,RSI_21
timestamp,,,,,,,,,
2020-01-07 06:00:00,5.9297,5.9399,5.9260,5.9260,13440,5.913231,5.890057,59.986618,55.018975
2020-01-07 07:00:00,5.9299,5.9518,5.9240,5.9454,318320,5.921273,5.895089,63.561293,57.527775
2020-01-07 08:00:00,5.9397,5.9531,5.9090,5.9192,939280,5.920755,5.897280,56.252326,53.311343
2020-01-07 09:00:00,5.9207,5.9648,5.8839,5.9461,43703600,5.927091,5.901719,61.187178,56.730286
2020-01-07 10:00:00,5.9489,6.0121,5.9329,6.0068,53851440,5.947018,5.911271,69.537539,63.127724
...,...,...,...,...,...,...,...,...,...
2025-06-30 15:00:00,157.7411,158.6510,157.6611,157.8611,26770205,157.831764,157.493783,55.609113,58.219209
2025-06-30 16:00:00,157.8611,168.1440,147.8677,157.7811,72869000,157.819098,157.519903,54.863480,57.723222
2025-06-30 17:00:00,157.7811,168.1440,147.0664,157.7811,223935,157.809598,157.543648,54.863480,57.723222
2025-06-30 18:00:00,157.7611,157.7911,157.4911,157.5113,219009,157.735024,157.540707,52.129570,55.950905
2025-06-30 19:00:00,157.5209,157.6111,157.4811,157.5211,211019,157.681543,157.538925,52.222700,56.002427