In [2]:
import pandas as pd
import talib

In [4]:
# Main stock price data
nvda = pd.read_parquet("data/alphavantage/stock_prices/1h/NVDA.parquet")

# Competitor stock price data
amd = pd.read_parquet("data/alphavantage/stock_prices/1h/AMD.parquet")
intc = pd.read_parquet("data/alphavantage/stock_prices/1h/INTC.parquet")

# ETF price data for market context
spy = pd.read_parquet("data/alphavantage/stock_prices/1h/SPY.parquet")
dia = pd.read_parquet("data/alphavantage/stock_prices/1h/DIA.parquet")
iwm = pd.read_parquet("data/alphavantage/stock_prices/1h/IWM.parquet")

btc = pd.read_parquet("data/yfinance/btc_usd_daily.parquet")
oil = pd.read_parquet("data/yfinance/crude_oil_wti_futures_daily.parquet")
gold = pd.read_parquet("data/yfinance/gold_futures_daily.parquet")

# News sentiment data
nvda_news = pd.read_parquet("data/alphavantage/news/nvidia_news.parquet")

# Insider trading data
nvda_insider = pd.read_parquet("data/alphavantage/insiders/NVDA_insider_transactions_2020_2025.parquet")

In [23]:
nvda

                         open      high       low     close    volume
timestamp
2020-01-02 04:00:00    5.9003    5.9481    5.9003    5.9389     60000
2020-01-02 05:00:00    5.9389    5.9486    5.9372    5.9449     29920
2020-01-02 06:00:00    5.9486    5.9501    5.9436    5.9436     37800
2020-01-02 07:00:00    5.9329    5.9481    5.9242    5.9464    614480
2020-01-02 08:00:00    5.9456    5.9625    5.9247    5.9556   1660520
...                       ...       ...       ...       ...       ...
2025-06-30 15:00:00  157.7411  158.6510  157.6611  157.8611  26770205
2025-06-30 16:00:00  157.8611  168.1440  147.8677  157.7811  72869000
2025-06-30 17:00:00  157.7811  168.1440  147.0664  157.7811    223935
2025-06-30 18:00:00  157.7611  157.7911  157.4911  157.5113    219009
2025-06-30 19:00:00  157.5209  157.6111  157.4811  157.5211    211019

[21925 rows x 5 columns]

In [24]:
amd

                       open      high     low   close     volume    {}
timestamp
2020-01-02 04:00:00   46.30   46.7800   46.27   46.50    19897.0  None
2020-01-02 05:00:00   46.64   47.0000   46.60   46.80    18221.0  None
2020-01-02 06:00:00   46.85   46.9200   46.71   46.79    25050.0  None
2020-01-02 07:00:00   46.76   46.8800   46.49   46.86   235402.0  None
2020-01-02 08:00:00   46.86   46.9500   46.58   46.90   477175.0  None
...                     ...       ...     ...     ...        ...   ...
2025-06-30 15:00:00  141.72  142.2400  141.22  141.89  6328950.0  None
2025-06-30 16:00:00  141.89  144.7858  133.49  141.70  7108561.0  None
2025-06-30 17:00:00  141.65  163.7370   96.73  141.52    72308.0  None
2025-06-30 18:00:00  141.52  141.7500  141.33  141.44    87966.0  None
2025-06-30 19:00:00  141.40  141.4600  141.22  141.39    72865.0  None

[21741 rows x 6 columns]

In [27]:
intc

                        open     high      low    close    volume
timestamp
2020-01-02 04:00:00  53.0935  53.1817  53.0935  53.1376      1511
2020-01-02 05:00:00  53.1376  53.1906  53.1376  53.1376      1460
2020-01-02 06:00:00  53.1200  53.1288  53.1023  53.1288      1160
2020-01-02 07:00:00  53.1023  53.2082  53.0141  53.2082     22260
2020-01-02 08:00:00  53.1729  53.3493  53.1553  53.3317     15756
...                      ...      ...      ...      ...       ...
2025-06-30 15:00:00  22.4050  22.5200  22.3500  22.3900  10484601
2025-06-30 16:00:00  22.3900  22.4300  22.3500  22.3899  23150430
2025-06-30 17:00:00  22.3803  22.4100  22.3600  22.4000     49357
2025-06-30 18:00:00  22.4000  22.4100  22.2900  22.2900    174280
2025-06-30 19:00:00  22.2900  22.3822  22.2700  22.2900     95965

[21974 rows x 5 columns]

In [28]:
spy

                         open      high       low     close    volume
timestamp
2020-01-02 04:00:00  297.1575  297.4698  297.1575  297.4422     28162
2020-01-02 05:00:00  297.4330  297.5800  297.4330  297.5157     15076
2020-01-02 06:00:00  297.5433  297.5433  297.2585  297.2585     17510
2020-01-02 07:00:00  297.2402  297.4606  297.2402  297.4606     60570
2020-01-02 08:00:00  297.3136  297.6719  296.5237  297.6259    353819
...                       ...       ...       ...       ...       ...
2025-06-30 16:00:00  616.2099  616.4792  610.8298  615.6016  18773695
2025-06-30 17:00:00  615.6614  616.1501  615.3423  615.6265    372702
2025-06-30 18:00:00  615.6215  616.1501  615.3523  615.4121   3100920
2025-06-30 19:00:00  615.4128  616.0803  615.2426  616.0107     44456
2025-06-30 20:00:00  616.1501  616.1501  616.1501  616.1501   3008784

[22593 rows x 5 columns]

In [29]:
dia

                         open      high       low     close  volume
timestamp
2020-01-02 04:00:00  257.7406  257.7766  257.7137  257.7676    1900
2020-01-02 05:00:00  257.8575  257.9384  257.8575  257.9384    2898
2020-01-02 06:00:00  257.8575  257.8575  257.8485  257.8485    1000
2020-01-02 07:00:00  257.6508  257.8395  257.6508  257.8036    4300
2020-01-02 08:00:00  257.7586  257.8844  257.7227  257.8395   16034
...                       ...       ...       ...       ...     ...
2025-06-30 16:00:00  438.7541  438.9334  433.3816  438.4653  134571
2025-06-30 17:00:00  438.6844  439.0827  438.1675  438.5649  110530
2025-06-30 18:00:00  438.2562  438.8139  438.2562  438.3847   50355
2025-06-30 19:00:00  438.4056  438.8139  438.3375  438.8139    1041
2025-06-30 20:00:00  438.8139  438.8139  438.8139  438.8139   43021

[22209 rows x 5 columns]

In [33]:
iwm

                         open      high       low     close   volume
timestamp
2020-01-02 04:00:00  155.1258  155.1258  155.1258  155.1258      130
2020-01-02 05:00:00  155.2467  155.3677  155.2467  155.3491     8800
2020-01-02 06:00:00  155.3398  155.3398  155.1630  155.1816     7321
2020-01-02 07:00:00  155.1444  155.2840  155.1444  155.2654    25378
2020-01-02 08:00:00  155.2840  155.4514  155.1258  155.4142    57833
...                       ...       ...       ...       ...      ...
2025-06-30 16:00:00  215.1788  221.9563  214.8099  214.9894  3732264
2025-06-30 17:00:00  214.9594  215.4481  214.6603  214.8797   334607
2025-06-30 18:00:00  214.8797  215.1788  214.7800  214.8397  1073467
2025-06-30 19:00:00  214.7909  215.1988  214.7899  215.0492    64592
2025-06-30 20:00:00  215.1788  215.1788  215.1788  215.1788   960101

[22575 rows x 5 columns]

In [34]:
btc

Price,Open,High,Low,Close,Volume
Date,,,,,
2020-01-01 00:00:00+00:00,7194.89,7254.33,7174.94,7200.17,18565664997
2020-01-02 00:00:00+00:00,7202.55,7212.16,6935.27,6985.47,20802083465
2020-01-03 00:00:00+00:00,6984.43,7413.72,6915.00,7344.88,28111481032
2020-01-04 00:00:00+00:00,7345.38,7427.39,7309.51,7410.66,18444271275
2020-01-05 00:00:00+00:00,7410.45,7544.50,7400.54,7411.32,19725074095
...,...,...,...,...,...
2025-06-26 00:00:00+00:00,107375.07,108305.55,106666.35,106960.00,43891990613
2025-06-27 00:00:00+00:00,106954.92,107772.47,106449.99,107088.43,45353692675
2025-06-28 00:00:00+00:00,107090.55,107567.88,106883.98,107327.70,30037708335
2025-06-29 00:00:00+00:00,107327.82,108526.30,107230.11,108385.57,35534874438
2025-06-30 00:00:00+00:00,108383.44,108798.79,106759.65,107135.34,42064804590

In [35]:
oil

Price                       Open   High    Low  Close   Volume
Date
2020-01-02 05:00:00+00:00  61.60  61.60  60.64  61.18   486873
2020-01-03 05:00:00+00:00  61.18  64.09  61.13  63.05   885861
2020-01-06 05:00:00+00:00  63.71  64.72  62.64  63.27   724236
2020-01-07 05:00:00+00:00  62.91  63.15  62.11  62.70   582649
2020-01-08 05:00:00+00:00  62.84  65.65  59.15  59.61  1205710
...                          ...    ...    ...    ...      ...
2025-06-24 04:00:00+00:00  67.74  67.83  64.00  64.37   541475
2025-06-25 04:00:00+00:00  65.12  66.03  64.51  64.92   278504
2025-06-26 04:00:00+00:00  64.98  66.42  64.66  65.24   233771
2025-06-27 04:00:00+00:00  65.30  66.09  64.80  65.52   236284
2025-06-30 04:00:00+00:00  65.15  65.82  64.50  65.11   193289

[1381 rows x 5 columns]

In [36]:
gold

Price                        Open    High     Low   Close  Volume
Date
2020-01-02 05:00:00+00:00  1518.1  1528.7  1518.0  1524.5     214
2020-01-03 05:00:00+00:00  1530.1  1552.7  1530.1  1549.2     107
2020-01-06 05:00:00+00:00  1580.0  1580.0  1560.4  1566.2     416
2020-01-07 05:00:00+00:00  1558.3  1576.3  1558.3  1571.8      47
2020-01-08 05:00:00+00:00  1579.7  1604.2  1552.3  1557.4     236
...                           ...     ...     ...     ...     ...
2025-06-24 04:00:00+00:00  3358.0  3358.0  3301.0  3317.4     538
2025-06-25 04:00:00+00:00  3321.6  3331.2  3310.6  3327.1     373
2025-06-26 04:00:00+00:00  3332.4  3333.5  3332.4  3333.5    2058
2025-06-27 04:00:00+00:00  3318.7  3318.7  3253.8  3273.7     284
2025-06-30 04:00:00+00:00  3265.9  3306.9  3262.0  3294.4    1242

[1381 rows x 5 columns]

In [10]:
nvda_news

,title,url,authors,summary,banner_image,source,category_within_source,source_domain,overall_sentiment_score,overall_sentiment_label,nvda_sentiment_score,nvda_sentiment_label,nvda_relevance_score
time_published,,,,,,,,,,,,,
2022-03-03 06:56:19,MarketingPulse and eTailingPulse to shed light...,https://www.scmp.com/presented/business/topics...,[Advertising partner],[Sponsored Article]\r\rThe Covid-19 pandemic h...,https://cdn.i-scmp.com/sites/default/files/sty...,South China Morning Post,Business,www.scmp.com,0.010325,Neutral,0.007051,Neutral,0.045456
2022-03-03 21:03:36,20 Stocks Billionaires Are Selling,https://www.kiplinger.com/investing/stocks/604...,[Will Ashworth],A lot of money continues to flow into hedge fu...,https://mediacloud.kiplinger.com/image/private...,Kiplinger,n/a,www.kiplinger.com,-0.009081,Neutral,0.025975,Neutral,0.060219
2022-03-04 17:22:00,The Top 5 Investment Plays for Blockchain,https://www.zacks.com/stock/news/1877770/the-t...,[Zacks Investment Research],There are plenty of ways to invest in blockcha...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.125201,Neutral,0.236167,Somewhat-Bullish,0.02519
2022-03-04 19:36:00,Nvidia Faces an Unusual Demand That Threatens ...,https://www.thestreet.com/investing/nvidia-fac...,[Riley Gutiérrez McDermid],The chip giant was recently the victim of a hack.,https://www.thestreet.com/.image/t_share/MTg1O...,The Street,n/a,www.thestreet.com,-0.311832,Somewhat-Bearish,-0.361876,Bearish,0.609839
2022-03-06 00:00:00,"Amid Russia's war, America Inc reckons with th...",https://www.economist.com/business/2022/03/06/...,[],Multinational companies grapple with a fractur...,https://www.economist.com/img/b/608/662/90/sit...,The Economist,Business,www.economist.com,-0.365286,Bearish,-0.482104,Bearish,0.022664
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30 20:00:00,Prediction: These Will Be the Two Best-Perform...,https://www.fool.com/investing/2025/06/30/pred...,[Keith Noonan and Jennifer Saibil],"The ""Magnificent Seven"" is a group of technolo...",https://g.foolcdn.com/image/?url=https%3A%2F%2...,Motley Fool,n/a,www.fool.com,0.358923,Bullish,0.043446,Neutral,0.043264
2025-06-30 21:28:41,IREN Achieves Mid-Year Target of 50 EH/s - IRE...,https://www.benzinga.com/pressreleases/25/06/g...,[Globe Newswire],"SYDNEY, June 30, 2025 ( GLOBE NEWSWIRE ) -- IR...",https://www.benzinga.com/next-assets/images/sc...,Benzinga,General,www.benzinga.com,0.129430,Neutral,-0.17714,Somewhat-Bearish,0.015675
2025-06-30 21:58:00,Markets Close Rollercoaster Q2 on Top,https://www.zacks.com/stock/news/2558429/marke...,[Mark Vickery],"After starting calendar Q2 with a huge ""Libera...",https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,-0.004783,Neutral,0.189457,Somewhat-Bullish,0.15697
2025-06-30 21:58:00,How to Find Attractively Priced Growth Stocks,https://www.zacks.com/stock/news/2558382/how-t...,[Neena Mishra],We highlight two popular GARP ETFs.,https://staticx-tuner.zacks.com/images/default...,Zacks Commentary,n/a,www.zacks.com,0.446589,Bullish,0.35385,Bullish,0.451494
2025-06-30 23:59:00,Oracle ( ORCL ) Stock Hits an All-Time High ...,https://www.zacks.com/commentary/2558525/oracl...,[Shaun Pruitt],Optimism surrounding Oracle's (ORCL) cloud and...,https://staticx-tuner.zacks.com/images/article...,Zacks Commentary,n/a,www.zacks.com,0.171347,Somewhat-Bullish,0.044447,Neutral,0.159569

In [11]:
nvda_insider[nvda_insider["shares"].str.contains(r"\.\d\d")]

,transaction_date,ticker,executive,executive_title,security_type,acquisition_or_disposal,shares,share_price
153,2020-05-26,NVDA,"PURI, AJAY K","EVP, Worldwide Field Ops",Common Stock,D,944.1943,354.7805

In [72]:
nvda.tz_localize("America/New_York").tz_convert("UTC")

                               open      high       low     close    volume
timestamp
2022-03-03 09:00:00+00:00   24.0095   24.0374   23.9216   23.9735     46180
2022-03-03 10:00:00+00:00   23.9795   23.9975   23.9466   23.9596      9530
2022-03-03 11:00:00+00:00   23.9825   24.0484   23.9456   23.9596     50490
2022-03-03 12:00:00+00:00   23.9945   24.0694   23.9596   24.0574    166470
2022-03-03 13:00:00+00:00   23.9715   24.2750   23.9715   24.2680    776990
...                             ...       ...       ...       ...       ...
2025-06-30 19:00:00+00:00  157.7411  158.6510  157.6611  157.8611  26770205
2025-06-30 20:00:00+00:00  157.8611  168.1440  147.8677  157.7811  72869000
2025-06-30 21:00:00+00:00  157.7811  168.1440  147.0664  157.7811    223935
2025-06-30 22:00:00+00:00  157.7611  157.7911  157.4911  157.5113    219009
2025-06-30 23:00:00+00:00  157.5209  157.6111  157.4811  157.5211    211019

[13326 rows x 5 columns]

In [80]:
btc

Price,Open,High,Low,Close,Volume
Date,,,,,
2022-03-03 00:00:00+00:00,43925.20,44021.58,41914.75,42451.79,24967782593
2022-03-04 00:00:00+00:00,42458.14,42479.61,38805.85,39137.61,28516271427
2022-03-05 00:00:00+00:00,39148.45,39566.34,38777.04,39400.59,16975917450
2022-03-06 00:00:00+00:00,39404.20,39640.18,38211.65,38419.98,19745229902
2022-03-07 00:00:00+00:00,38429.30,39430.23,37260.20,38062.04,28546143503
...,...,...,...,...,...
2025-06-26 00:00:00+00:00,107375.07,108305.55,106666.35,106960.00,43891990613
2025-06-27 00:00:00+00:00,106954.92,107772.47,106449.99,107088.43,45353692675
2025-06-28 00:00:00+00:00,107090.55,107567.88,106883.98,107327.70,30037708335
2025-06-29 00:00:00+00:00,107327.82,108526.30,107230.11,108385.57,35534874438
2025-06-30 00:00:00+00:00,108383.44,108798.79,106759.65,107135.34,42064804590

In [84]:
gold.tz_convert("America/New_York")

Price                        Open    High     Low   Close  Volume
Date
2022-03-03 00:00:00-05:00  1930.5  1940.3  1924.8  1934.4     122
2022-03-04 00:00:00-05:00  1937.0  1970.9  1935.6  1965.1      47
2022-03-07 00:00:00-05:00  1989.0  2001.1  1963.0  1993.9    2516
2022-03-08 00:00:00-05:00  1999.4  2072.0  1998.0  2040.1    1813
2022-03-09 00:00:00-05:00  2053.6  2063.0  1980.8  1985.9    1022
...                           ...     ...     ...     ...     ...
2025-06-24 00:00:00-04:00  3358.0  3358.0  3301.0  3317.4     538
2025-06-25 00:00:00-04:00  3321.6  3331.2  3310.6  3327.1     373
2025-06-26 00:00:00-04:00  3332.4  3333.5  3332.4  3333.5    2058
2025-06-27 00:00:00-04:00  3318.7  3318.7  3253.8  3273.7     284
2025-06-30 00:00:00-04:00  3265.9  3306.9  3262.0  3294.4    1242

[835 rows x 5 columns]

In [37]:
nvda = nvda[nvda.index >= "2022-03-03"]
amd = amd[amd.index >= "2022-03-03"]
intc = intc[intc.index >= "2022-03-03"]
spy = spy[spy.index >= "2022-03-03"]
dia = dia[dia.index >= "2022-03-03"]
iwm = iwm[iwm.index >= "2022-03-03"]
btc = btc[btc.index >= "2022-03-03"]
oil = oil[oil.index >= "2022-03-03"]
gold = gold[gold.index >= "2022-03-03"]
nvda_insider = nvda_insider[nvda_insider["transaction_date"] >= "2022-03-03"]

In [42]:
nvda

                         open      high       low     close    volume
timestamp
2022-03-03 04:00:00   24.0095   24.0374   23.9216   23.9735     46180
2022-03-03 05:00:00   23.9795   23.9975   23.9466   23.9596      9530
2022-03-03 06:00:00   23.9825   24.0484   23.9456   23.9596     50490
2022-03-03 07:00:00   23.9945   24.0694   23.9596   24.0574    166470
2022-03-03 08:00:00   23.9715   24.2750   23.9715   24.2680    776990
...                       ...       ...       ...       ...       ...
2025-06-30 15:00:00  157.7411  158.6510  157.6611  157.8611  26770205
2025-06-30 16:00:00  157.8611  168.1440  147.8677  157.7811  72869000
2025-06-30 17:00:00  157.7811  168.1440  147.0664  157.7811    223935
2025-06-30 18:00:00  157.7611  157.7911  157.4911  157.5113    219009
2025-06-30 19:00:00  157.5209  157.6111  157.4811  157.5211    211019

[13326 rows x 5 columns]

In [4]:
nvda_news["overall_sentiment_score"] = nvda_news["overall_sentiment_score"].astype(float)
nvda_news["nvda_sentiment_score"] = nvda_news["nvda_sentiment_score"].astype(float)
nvda_news["nvda_relevance_score"] = nvda_news["nvda_relevance_score"].astype(float)

In [5]:
# combine nvda with news sentiment by aggregating news sentiment per hour, then merging on timestamp, left join
numeric_cols = nvda_news.select_dtypes(include="number").columns
nvda_news_agg = nvda_news[numeric_cols].resample("h").mean().reset_index()
nvda_news_agg = nvda_news_agg.rename(columns={"time_published": "timestamp"})
nvda_news_agg

,timestamp,overall_sentiment_score,nvda_sentiment_score,nvda_relevance_score
0,2022-03-03 06:00:00,0.010325,0.007051,0.045456
1,2022-03-03 07:00:00,NaN,NaN,NaN
2,2022-03-03 08:00:00,NaN,NaN,NaN
3,2022-03-03 09:00:00,NaN,NaN,NaN
4,2022-03-03 10:00:00,NaN,NaN,NaN
...,...,...,...,...
29173,2025-06-30 19:00:00,0.211782,0.053219,0.150592
29174,2025-06-30 20:00:00,0.358923,0.043446,0.043264
29175,2025-06-30 21:00:00,0.190412,0.122056,0.208046
29176,2025-06-30 22:00:00,NaN,NaN,NaN
29177,2025-06-30 23:00:00,0.171347,0.044447,0.159569

In [40]:
nvda_merged = pd.merge(nvda, nvda_news_agg, how="left", left_index=True, right_on="timestamp")
nvda_merged.index = nvda_merged["timestamp"]
nvda_merged = nvda_merged.drop(columns=["timestamp"])
nvda_merged

,open,high,low,close,volume,overall_sentiment_score,nvda_sentiment_score,nvda_relevance_score
timestamp,,,,,,,,
2022-03-03 04:00:00,24.0095,24.0374,23.9216,23.9735,46180,NaN,NaN,NaN
2022-03-03 05:00:00,23.9795,23.9975,23.9466,23.9596,9530,NaN,NaN,NaN
2022-03-03 06:00:00,23.9825,24.0484,23.9456,23.9596,50490,0.010325,0.007051,0.045456
2022-03-03 07:00:00,23.9945,24.0694,23.9596,24.0574,166470,NaN,NaN,NaN
2022-03-03 08:00:00,23.9715,24.2750,23.9715,24.2680,776990,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2025-06-30 15:00:00,157.7411,158.6510,157.6611,157.8611,26770205,0.233040,0.217973,0.334199
2025-06-30 16:00:00,157.8611,168.1440,147.8677,157.7811,72869000,NaN,NaN,NaN
2025-06-30 17:00:00,157.7811,168.1440,147.0664,157.7811,223935,0.171758,0.141709,0.076247
2025-06-30 18:00:00,157.7611,157.7911,157.4911,157.5113,219009,0.156785,0.087409,0.796885
2025-06-30 19:00:00,157.5209,157.6111,157.4811,157.5211,211019,0.211782,0.053219,0.150592

In [58]:
# Shift index by +1 day after resampling, then forward fill
btc_hourly = btc.resample("h").mean()
btc_hourly.index = btc_hourly.index + pd.Timedelta(days=1)
btc_hourly = btc_hourly.ffill()

oil_hourly = oil.resample("h").mean()
oil_hourly.index = oil_hourly.index + pd.Timedelta(days=1)
oil_hourly = oil_hourly.ffill()

gold_hourly = gold.resample("h").mean()
gold_hourly.index = gold_hourly.index + pd.Timedelta(days=1)
gold_hourly = gold_hourly.ffill()

In [59]:
btc_hourly

Price,Open,High,Low,Close,Volume
Date,,,,,
2022-03-04 00:00:00+00:00,43925.20,44021.58,41914.75,42451.79,2.496778e+10
2022-03-04 01:00:00+00:00,43925.20,44021.58,41914.75,42451.79,2.496778e+10
2022-03-04 02:00:00+00:00,43925.20,44021.58,41914.75,42451.79,2.496778e+10
2022-03-04 03:00:00+00:00,43925.20,44021.58,41914.75,42451.79,2.496778e+10
2022-03-04 04:00:00+00:00,43925.20,44021.58,41914.75,42451.79,2.496778e+10
...,...,...,...,...,...
2025-06-30 20:00:00+00:00,107327.82,108526.30,107230.11,108385.57,3.553487e+10
2025-06-30 21:00:00+00:00,107327.82,108526.30,107230.11,108385.57,3.553487e+10
2025-06-30 22:00:00+00:00,107327.82,108526.30,107230.11,108385.57,3.553487e+10
2025-06-30 23:00:00+00:00,107327.82,108526.30,107230.11,108385.57,3.553487e+10
2025-07-01 00:00:00+00:00,108383.44,108798.79,106759.65,107135.34,4.206480e+10

In [62]:
oil[:20]

Price                        Open    High     Low   Close  Volume
Date
2022-03-03 05:00:00+00:00  111.33  116.57  106.43  107.67  592031
2022-03-04 05:00:00+00:00  107.96  116.02  107.25  115.68  493875
2022-03-07 05:00:00+00:00  121.33  130.50  115.54  119.40  576022
2022-03-08 05:00:00+00:00  120.67  129.44  117.07  123.70  583106
2022-03-09 05:00:00+00:00  124.66  126.84  103.63  108.70  594773
2022-03-10 05:00:00+00:00  110.41  114.88  105.53  106.02  437924
2022-03-11 05:00:00+00:00  105.99  110.29  104.48  109.33  368194
2022-03-14 04:00:00+00:00  109.42  109.72   99.76  103.01  344184
2022-03-15 04:00:00+00:00  102.28  102.58   93.53   96.44  401690
2022-03-16 04:00:00+00:00   95.23   99.22   94.07   95.04  293947
2022-03-17 04:00:00+00:00   95.34  104.24   94.85  102.98  210763
2022-03-18 04:00:00+00:00  103.62  106.28  102.30  104.70   74247
2022-03-21 04:00:00+00:00  105.13  112.69  104.08  112.12   77217
2022-03-22 04:00:00+00:00  112.90  115.01  109.30  111.76  318629
2022-03-23 04:00:00+00:00  108.85  115.40  108.38  114.93  289182
2022-03-24 04:00:00+00:00  114.47  116.64  110.61  112.34  307238
2022-03-25 04:00:00+00:00  111.75  114.12  108.68  113.90  320304
2022-03-28 04:00:00+00:00  112.92  112.93  102.83  105.96  372251
2022-03-29 04:00:00+00:00  103.47  107.84   98.44  104.24  387200
2022-03-30 04:00:00+00:00  105.24  108.75  104.55  107.82  284544

In [61]:
gold

Price                        Open    High     Low   Close  Volume
Date
2022-03-03 05:00:00+00:00  1930.5  1940.3  1924.8  1934.4     122
2022-03-04 05:00:00+00:00  1937.0  1970.9  1935.6  1965.1      47
2022-03-07 05:00:00+00:00  1989.0  2001.1  1963.0  1993.9    2516
2022-03-08 05:00:00+00:00  1999.4  2072.0  1998.0  2040.1    1813
2022-03-09 05:00:00+00:00  2053.6  2063.0  1980.8  1985.9    1022
...                           ...     ...     ...     ...     ...
2025-06-24 04:00:00+00:00  3358.0  3358.0  3301.0  3317.4     538
2025-06-25 04:00:00+00:00  3321.6  3331.2  3310.6  3327.1     373
2025-06-26 04:00:00+00:00  3332.4  3333.5  3332.4  3333.5    2058
2025-06-27 04:00:00+00:00  3318.7  3318.7  3253.8  3273.7     284
2025-06-30 04:00:00+00:00  3265.9  3306.9  3262.0  3294.4    1242

[835 rows x 5 columns]

In [ ]:
# Reindex to nvda's timestamp index
btc_aligned = btc_hourly.reindex(nvda.index)
oil_aligned = oil_hourly.reindex(nvda.index)
gold_aligned = gold_hourly.reindex(nvda.index)

# Rename columns for clarity
btc_aligned = btc_aligned.rename(columns=lambda x: f"btc_{x.lower()}")
oil_aligned = oil_aligned.rename(columns=lambda x: f"oil_{x.lower()}")
gold_aligned = gold_aligned.rename(columns=lambda x: f"gold_{x.lower()}")

# Merge with nvda
nvda_merged_assets = pd.concat([nvda, btc_aligned, oil_aligned, gold_aligned], axis=1)
nvda_merged_assets

In [ ]:
nvda_news[["overall_sentiment_score", "nvda_sentiment_score", "nvda_relevance_score"]]

,overall_sentiment_score,nvda_sentiment_score,nvda_relevance_score
time_published,,,
2022-03-03 06:56:19,0.010325,0.007051,0.045456
2022-03-03 21:03:36,-0.009081,0.025975,0.060219
2022-03-04 17:22:00,0.125201,0.236167,0.025190
2022-03-04 19:36:00,-0.311832,-0.361876,0.609839
2022-03-06 00:00:00,-0.365286,-0.482104,0.022664
...,...,...,...
2025-06-30 20:00:00,0.358923,0.043446,0.043264
2025-06-30 21:28:41,0.129430,-0.177140,0.015675
2025-06-30 21:58:00,-0.004783,0.189457,0.156970
2025-06-30 21:58:00,0.446589,0.353850,0.451494
2025-06-30 23:59:00,0.171347,0.044447,0.159569

In [27]:
nvda_news.iloc[129]

title                                   Why Nvidia Stock Dropped Again Today
url                        https://www.fool.com/investing/2022/03/14/why-...
authors                                                         [Rich Smith]
summary                    Citigroup sees numerous reasons for investors ...
banner_image               https://g.foolcdn.com/image/?url=https%3A%2F%2...
source                                                           Motley Fool
category_within_source                                                   n/a
source_domain                                                   www.fool.com
overall_sentiment_score                                            -0.530669
overall_sentiment_label                                              Bearish
nvda_sentiment_score                                                -0.51159
nvda_sentiment_label                                                 Bearish
nvda_relevance_score                                                0.774534
Name: 2022-03-14 19:35:21, dtype: object

In [10]:
nvda_news_agg.fillna(0, inplace=True)

In [12]:
prepend_rows = pd.DataFrame(
    {
        "timestamp": [pd.Timestamp("2022-03-03 04:00:00"), pd.Timestamp("2022-03-03 05:00:00")],
        "overall_sentiment_score": [0.0, 0.0],
        "nvda_sentiment_score": [0.0, 0.0],
        "nvda_relevance_score": [0.0, 0.0],
    }
)

nvda_news_agg = pd.concat([prepend_rows, nvda_news_agg], ignore_index=True)
nvda_news_agg

,timestamp,overall_sentiment_score,nvda_sentiment_score,nvda_relevance_score
0,2022-03-03 04:00:00,0.000000,0.000000,0.000000
1,2022-03-03 05:00:00,0.000000,0.000000,0.000000
2,2022-03-03 06:00:00,0.010325,0.007051,0.045456
3,2022-03-03 07:00:00,0.000000,0.000000,0.000000
4,2022-03-03 08:00:00,0.000000,0.000000,0.000000
...,...,...,...,...
29175,2025-06-30 19:00:00,0.211782,0.053219,0.150592
29176,2025-06-30 20:00:00,0.358923,0.043446,0.043264
29177,2025-06-30 21:00:00,0.190412,0.122056,0.208046
29178,2025-06-30 22:00:00,0.000000,0.000000,0.000000
29179,2025-06-30 23:00:00,0.171347,0.044447,0.159569

In [ ]:
nvda_news_agg

In [32]:
nvda_insider["transaction_date"] + pd.Timedelta(days=3)

0      2020-01-09
1      2020-01-09
2      2020-01-09
3      2020-01-09
4      2020-01-09
          ...
3069   2025-07-03
3070   2025-07-03
3071   2025-07-03
3072   2025-07-03
3073   2025-07-03
Name: transaction_date, Length: 3074, dtype: datetime64[ns]

In [ ]:
nvda_insider["transaction_date"] + pd.Timedelta(days=3)

In [42]:
# Map acquisition_or_disposal to +1 for 'A', -1 for 'D'
action_map = {"A": 1, "D": -1}
nvda_insider["action_sign"] = nvda_insider["acquisition_or_disposal"].map(action_map)

# Calculate signed shares
nvda_insider["signed_shares"] = nvda_insider["shares"] * nvda_insider["action_sign"]

# Group by transaction_date and calculate average signed shares per day
daily_avg_signed_shares = nvda_insider.groupby("transaction_date")["signed_shares"].mean()

daily_avg_signed_shares

transaction_date
2020-01-06     -422.222222
2020-01-21    -2000.000000
2020-02-18    -5933.772727
2020-02-20     -160.000000
2020-02-24     -444.444444
                  ...
2025-06-24   -17411.166667
2025-06-25   -19731.266667
2025-06-26    -5825.944444
2025-06-27   -15747.500000
2025-06-30   -20985.333333
Name: signed_shares, Length: 308, dtype: float64

In [79]:
# Shift daily_avg_signed_shares index by +3 days
shifted_signed_shares = daily_avg_signed_shares.copy()
shifted_signed_shares.index = shifted_signed_shares.index + pd.Timedelta(days=3)

# Map to nvda index (hourly), forward fill within each day
nvda["signed_shares"] = nvda.index.normalize().map(shifted_signed_shares)

In [80]:
shifted_signed_shares[(shifted_signed_shares.index == "2022-03-01")]

Series([], Name: signed_shares, dtype: float64)

In [81]:
nvda["signed_shares"].fillna(0, inplace=True)

C:\Users\promb\AppData\Local\Temp\ipykernel_21812\3329550696.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nvda["signed_shares"].fillna(0, inplace=True)

In [83]:
nvda[(nvda.index >= "2022-03-04 18:00:00") & (nvda.index < "2022-03-08")].drop(columns=["insider_signal"])

,open,high,low,close,volume,signed_shares
timestamp,,,,,,
2022-03-04 18:00:00,22.7915,22.7915,22.6268,22.6687,236010,-20881.428571
2022-03-04 19:00:00,22.6717,22.7915,22.6717,22.7915,223220,-20881.428571
2022-03-07 04:00:00,22.4122,22.4122,22.1436,22.1826,206510,0.000000
2022-03-07 05:00:00,22.1895,22.2784,22.1626,22.2145,70510,0.000000
2022-03-07 06:00:00,22.2125,22.4830,22.1865,22.4721,173920,0.000000
2022-03-07 07:00:00,22.3962,22.6787,22.3702,22.5370,487860,0.000000
2022-03-07 08:00:00,22.5624,22.6597,22.1716,22.4820,1717890,0.000000
2022-03-07 09:00:00,22.4820,22.9942,22.2664,22.2684,51653630,0.000000
2022-03-07 10:00:00,22.2654,22.3672,21.6644,21.8064,57627830,0.000000
2022-03-07 11:00:00,21.8032,22.1786,21.7263,21.9200,46741960,0.000000
2022-03-07 12:00:00,21.9210,22.0707,21.7801,21.8771,32277820,0.000000
2022-03-07 13:00:00,21.8741,22.0428,21.7673,21.8541,28101990,0.000000
2022-03-07 14:00:00,21.8511,21.9270,21.5636,21.6135,28289030,0.000000
2022-03-07 15:00:00,21.6135,21.6495,21.2941,21.3030,57501850,0.000000
2022-03-07 16:00:00,21.3030,21.3320,20.9646,21.0155,25458120,0.000000
2022-03-07 17:00:00,21.0055,21.0614,20.9806,20.9946,429520,0.000000
2022-03-07 18:00:00,20.9806,21.0634,20.9796,20.9896,351510,0.000000
2022-03-07 19:00:00,20.9946,21.0644,20.9746,20.9846,608580,0.000000

In [ ]:
nvda_insider

,transaction_date,ticker,executive,executive_title,security_type,acquisition_or_disposal,shares,share_price,action_sign,signed_shares
0,2020-01-06,NVDA,"KRESS, COLETTE",EVP & Chief Financial Officer,Common,D,200.0,232.25,-1,-200.0
1,2020-01-06,NVDA,"KRESS, COLETTE",EVP & Chief Financial Officer,Common,D,300.0,233.85,-1,-300.0
2,2020-01-06,NVDA,"KRESS, COLETTE",EVP & Chief Financial Officer,Common,D,293.0,236.82,-1,-293.0
3,2020-01-06,NVDA,"KRESS, COLETTE",EVP & Chief Financial Officer,Common,D,907.0,236.28,-1,-907.0
4,2020-01-06,NVDA,"KRESS, COLETTE",EVP & Chief Financial Officer,Common,D,300.0,233.85,-1,-300.0
...,...,...,...,...,...,...,...,...,...,...
3069,2025-06-30,NVDA,"SEAWELL, A BROOKE",Director,Common Stock,D,20463.0,156.7071,-1,-20463.0
3070,2025-06-30,NVDA,"SEAWELL, A BROOKE",Director,Common Stock,D,26519.0,157.3152,-1,-26519.0
3071,2025-06-30,NVDA,"SEAWELL, A BROOKE",Director,Common Stock,D,3930.0,158.1053,-1,-3930.0
3072,2025-06-30,NVDA,"HUANG, JEN HSUN","Director, President and CEO",Common Stock,D,19624.0,156.8135,-1,-19624.0
3073,2025-06-30,NVDA,"HUANG, JEN HSUN","Director, President and CEO",Common Stock,D,6306.0,158.2701,-1,-6306.0

In [90]:
pd.concat([nvda, intc], axis=1)

,open,high,low,close,volume,open,high,low,close,volume
timestamp,,,,,,,,,,
2020-01-02 04:00:00,5.9003,5.9481,5.9003,5.9389,60000.0,53.0935,53.1817,53.0935,53.1376,1511.0
2020-01-02 05:00:00,5.9389,5.9486,5.9372,5.9449,29920.0,53.1376,53.1906,53.1376,53.1376,1460.0
2020-01-02 06:00:00,5.9486,5.9501,5.9436,5.9436,37800.0,53.1200,53.1288,53.1023,53.1288,1160.0
2020-01-02 07:00:00,5.9329,5.9481,5.9242,5.9464,614480.0,53.1023,53.2082,53.0141,53.2082,22260.0
2020-01-02 08:00:00,5.9456,5.9625,5.9247,5.9556,1660520.0,53.1729,53.3493,53.1553,53.3317,15756.0
...,...,...,...,...,...,...,...,...,...,...
2025-06-30 15:00:00,157.7411,158.6510,157.6611,157.8611,26770205.0,22.4050,22.5200,22.3500,22.3900,10484601.0
2025-06-30 16:00:00,157.8611,168.1440,147.8677,157.7811,72869000.0,22.3900,22.4300,22.3500,22.3899,23150430.0
2025-06-30 17:00:00,157.7811,168.1440,147.0664,157.7811,223935.0,22.3803,22.4100,22.3600,22.4000,49357.0
2025-06-30 18:00:00,157.7611,157.7911,157.4911,157.5113,219009.0,22.4000,22.4100,22.2900,22.2900,174280.0
2025-06-30 19:00:00,157.5209,157.6111,157.4811,157.5211,211019.0,22.2900,22.3822,22.2700,22.2900,95965.0