In [1]:
import yfinance as yf

In [17]:
tickers = [
    "BTC-USD",  # Bitcoin USD
    "GC=F",  # Gold futures
    "CL=F",  # Crude Oil (WTI) futures
]
dfs = {}
for ticker in tickers:
    print(f"Downloading data for {ticker}...")
    df = yf.download(
        tickers=ticker,
        interval="1d",
        start="2020-01-01",
        end="2025-07-01",
        group_by="ticker",
        rounding=True,
        ignore_tz=False,
    )
    dfs[ticker] = df[ticker]
    print(f"Data for {ticker} downloaded, {len(df)} rows.")

C:\Users\promb\AppData\Local\Temp\ipykernel_23280\1751080084.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(
[*********************100%***********************]  1 of 1 completed
C:\Users\promb\AppData\Local\Temp\ipykernel_23280\1751080084.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(
[*********************100%***********************]  1 of 1 completed
C:\Users\promb\AppData\Local\Temp\ipykernel_23280\1751080084.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(
[*********************100%***********************]  1 of 1 completed

Downloading data for BTC-USD...
Data for BTC-USD downloaded, 2008 rows.
Downloading data for GC=F...
Data for GC=F downloaded, 1381 rows.
Downloading data for CL=F...
Data for CL=F downloaded, 1381 rows.

In [ ]:
dfs["BTC-USD"].to_parquet("btc_usd_daily.parquet")
dfs["GC=F"].to_parquet("gold_futures_daily.parquet")
dfs["CL=F"].to_parquet("crude_oil_wti_futures_daily.parquet")

In [5]:
dfs["BTC-USD"]

Price,Open,High,Low,Close,Volume
Date,,,,,
2020-01-01 00:00:00+00:00,7194.89,7254.33,7174.94,7200.17,18565664997
2020-01-02 00:00:00+00:00,7202.55,7212.16,6935.27,6985.47,20802083465
2020-01-03 00:00:00+00:00,6984.43,7413.72,6915.00,7344.88,28111481032
2020-01-04 00:00:00+00:00,7345.38,7427.39,7309.51,7410.66,18444271275
2020-01-05 00:00:00+00:00,7410.45,7544.50,7400.54,7411.32,19725074095
...,...,...,...,...,...
2025-06-26 00:00:00+00:00,107375.07,108305.55,106666.35,106960.00,43891990613
2025-06-27 00:00:00+00:00,106954.92,107772.47,106449.99,107088.43,45353692675
2025-06-28 00:00:00+00:00,107090.55,107567.88,106883.98,107327.70,30037708335
2025-06-29 00:00:00+00:00,107327.82,108526.30,107230.11,108385.57,35534874438
2025-06-30 00:00:00+00:00,108383.44,108798.79,106759.65,107135.34,42064804590

In [7]:
dfs["BTC-USD"].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2008 entries, 2020-01-01 00:00:00+00:00 to 2025-06-30 00:00:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    2008 non-null   float64
 1   High    2008 non-null   float64
 2   Low     2008 non-null   float64
 3   Close   2008 non-null   float64
 4   Volume  2008 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 94.1 KB

In [6]:
import pandas as pd


btc_df = pd.read_parquet("btc_usd.parquet")
btc_df

Price,Open,High,Low,Close,Volume
Date,,,,,
2020-01-01 00:00:00+00:00,7194.89,7254.33,7174.94,7200.17,18565664997
2020-01-02 00:00:00+00:00,7202.55,7212.16,6935.27,6985.47,20802083465
2020-01-03 00:00:00+00:00,6984.43,7413.72,6915.00,7344.88,28111481032
2020-01-04 00:00:00+00:00,7345.38,7427.39,7309.51,7410.66,18444271275
2020-01-05 00:00:00+00:00,7410.45,7544.50,7400.54,7411.32,19725074095
...,...,...,...,...,...
2025-06-26 00:00:00+00:00,107375.07,108305.55,106666.35,106960.00,43891990613
2025-06-27 00:00:00+00:00,106954.92,107772.47,106449.99,107088.43,45353692675
2025-06-28 00:00:00+00:00,107090.55,107567.88,106883.98,107327.70,30037708335
2025-06-29 00:00:00+00:00,107327.82,108526.30,107230.11,108385.57,35534874438
2025-06-30 00:00:00+00:00,108383.44,108798.79,106759.65,107135.34,42064804590

In [10]:
btc_df.index

DatetimeIndex(['2020-01-01 00:00:00+00:00', '2020-01-02 00:00:00+00:00',
               '2020-01-03 00:00:00+00:00', '2020-01-04 00:00:00+00:00',
               '2020-01-05 00:00:00+00:00', '2020-01-06 00:00:00+00:00',
               '2020-01-07 00:00:00+00:00', '2020-01-08 00:00:00+00:00',
               '2020-01-09 00:00:00+00:00', '2020-01-10 00:00:00+00:00',
               ...
               '2025-06-21 00:00:00+00:00', '2025-06-22 00:00:00+00:00',
               '2025-06-23 00:00:00+00:00', '2025-06-24 00:00:00+00:00',
               '2025-06-25 00:00:00+00:00', '2025-06-26 00:00:00+00:00',
               '2025-06-27 00:00:00+00:00', '2025-06-28 00:00:00+00:00',
               '2025-06-29 00:00:00+00:00', '2025-06-30 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date', length=2008, freq=None)

In [14]:
btc_df_csv = pd.read_csv("btc_usd_daily.csv", parse_dates=["Date"], index_col="Date")
btc_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2008 entries, 2020-01-01 00:00:00+00:00 to 2025-06-30 00:00:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    2008 non-null   float64
 1   High    2008 non-null   float64
 2   Low     2008 non-null   float64
 3   Close   2008 non-null   float64
 4   Volume  2008 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 94.1 KB

In [16]:
btc_df_csv.index

DatetimeIndex(['2020-01-01 00:00:00+00:00', '2020-01-02 00:00:00+00:00',
               '2020-01-03 00:00:00+00:00', '2020-01-04 00:00:00+00:00',
               '2020-01-05 00:00:00+00:00', '2020-01-06 00:00:00+00:00',
               '2020-01-07 00:00:00+00:00', '2020-01-08 00:00:00+00:00',
               '2020-01-09 00:00:00+00:00', '2020-01-10 00:00:00+00:00',
               ...
               '2025-06-21 00:00:00+00:00', '2025-06-22 00:00:00+00:00',
               '2025-06-23 00:00:00+00:00', '2025-06-24 00:00:00+00:00',
               '2025-06-25 00:00:00+00:00', '2025-06-26 00:00:00+00:00',
               '2025-06-27 00:00:00+00:00', '2025-06-28 00:00:00+00:00',
               '2025-06-29 00:00:00+00:00', '2025-06-30 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date', length=2008, freq=None)