In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("BTCUSD_H1_202112310000_202506302300.csv", sep="\t")
df

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2021.12.31,00:00:00,47295.50,47312.50,46727.50,47078.50,3637,0,3000
1,2021.12.31,01:00:00,47076.50,47242.00,46934.50,47119.00,3686,0,3000
2,2021.12.31,02:00:00,47119.00,47400.00,46834.50,47071.00,4129,0,3000
3,2021.12.31,03:00:00,47071.00,47355.50,46842.50,47123.50,3538,0,3000
4,2021.12.31,04:00:00,47123.50,47126.50,46830.50,46994.50,2906,0,3000
...,...,...,...,...,...,...,...,...,...
29591,2025.06.30,19:00:00,107606.65,107865.45,107288.00,107625.89,12028,0,3305
29592,2025.06.30,20:00:00,107623.09,107844.93,107447.52,107491.58,11249,0,3305
29593,2025.06.30,21:00:00,107489.16,107664.54,107156.94,107264.56,11087,0,3305
29594,2025.06.30,22:00:00,107264.65,107820.69,107219.29,107760.75,10943,0,3305
29595,2025.06.30,23:00:00,107758.90,107788.66,107487.24,107528.57,9128,0,3305