In [10]:
import pandas as pd
from utils.dataset import flatten_windowed_data, add_label

In [7]:
df = pd.read_csv("data/processed_data.csv", parse_dates=["timestamp"], index_col="timestamp")

In [15]:
df[["nvda_close", "nvda_volume"]].head()

                           nvda_close  nvda_volume
timestamp
2022-03-03 09:00:00+00:00     23.9735        46180
2022-03-03 10:00:00+00:00     23.9596         9530
2022-03-03 11:00:00+00:00     23.9596        50490
2022-03-03 12:00:00+00:00     24.0574       166470
2022-03-03 13:00:00+00:00     24.2680       776990

In [16]:
add_label(df, open_col="nvda_open", close_col="nvda_close", label_col="y")[["nvda_open", "nvda_close", "y"]].head()

                           nvda_open  nvda_close  y
timestamp
2022-03-03 09:00:00+00:00    24.0095     23.9735  0
2022-03-03 10:00:00+00:00    23.9795     23.9596  0
2022-03-03 11:00:00+00:00    23.9825     23.9596  1
2022-03-03 12:00:00+00:00    23.9945     24.0574  1
2022-03-03 13:00:00+00:00    23.9715     24.2680  0

In [20]:
df_flattened = flatten_windowed_data(df[["nvda_open", "nvda_close"]].head(), window_size=3)
pd.concat([df_flattened, df[["y"]].head()], axis=1).dropna()

,nvda_open_t-0,nvda_close_t-0,nvda_open_t-1,nvda_close_t-1,nvda_open_t-2,nvda_close_t-2,y
timestamp,,,,,,,
2022-03-03 11:00:00+00:00,23.9825,23.9596,23.9795,23.9596,24.0095,23.9735,1
2022-03-03 12:00:00+00:00,23.9945,24.0574,23.9825,23.9596,23.9795,23.9596,1
2022-03-03 13:00:00+00:00,23.9715,24.2680,23.9945,24.0574,23.9825,23.9596,0

,nvda_close_t-0,nvda_volume_t-0,nvda_close_t-1,nvda_volume_t-1,nvda_close_t-2,nvda_volume_t-2
timestamp,,,,,,
2022-03-03 11:00:00+00:00,23.9596,50490.0,23.9596,9530.0,23.9735,46180.0
2022-03-03 12:00:00+00:00,24.0574,166470.0,23.9596,50490.0,23.9596,9530.0
2022-03-03 13:00:00+00:00,24.2680,776990.0,24.0574,166470.0,23.9596,50490.0